<div class="parent">
  <div class="container">
    <form [formGroup]="userForm">
      <h1>Login</h1>

      <div class="input-box">
        <input type="text" formControlName="username" placeholder="Username" />
        <i class='bx bx-envelope'></i>
        <div class="text-danger" *ngIf="userForm.controls['username'].touched && userForm.controls['username'].hasError('required')">
          <span>This is required</span>
        </div>
      </div>

      <div class="input-box">
        <input type="password" formControlName="password" placeholder="Password" />
        <i class='bx bx-lock-alt'></i>
        <div class="text-danger" *ngIf="userForm.controls['password'].touched && userForm.controls['password'].errors">
          <span *ngIf="userForm.controls['password'].hasError('required')">This is required</span>
          <span *ngIf="userForm.controls['password'].hasError('minlength')">Minimum 4 characters required</span>
        </div>
      </div>

      <div class="remember">
        <label>
          <input type="checkbox" formControlName="rememberMe" /> Remember me
        </label>
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>

      <button class="btn" (click)="login()" type="button">Login</button>

      <div class="register">
        <p>Don't have an account? <br />
          <a routerLink="/register">Register</a>
        </p>
      </div>
    </form>
  </div>
</div>
